.app-title {
    font-size: 20px;
    font-weight: bold;
}

.spacer {
    flex: 1 1 auto;
}

.active-link {
    font-weight: bold;
    text-decoration: underline;
}



.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.search-box {
    width: 250px;
    margin-right: 16px;
}